/* .content {
  padding: 20px;
};


h1 {
  color: dodgerblue;
  font-family: 'verdana', vintage, arial;
  text-transform: uppercase;
  font-size: 29px;
};

img {
  background image:  url("https://i.pinimg.com/originals/e6/03/2b/e6032bfa193d8bffeabf4b6e4d74c5e5.jpg");
  border: 8px solidpurple;
  float: right;
  padding: 20px;
  width: 225px;
};

img {
  background image: url("https://media-exp1.licdn.com/dms/image/C5603AQG_Z0XSuFjnbg/profile-displayphoto-shrink_200_200/0?e=1594252800&v=beta&t=:2DspVZnxaW_oX2T-MCCoJhJM_tVmA7HK3_-VU");
  border: 10px solidblack;
  float: right;
  padding: 20px;
  width: 400px;
};


h2 {
  color: green;
};

h3 {
  color: slateblue;
};

h4 {
  color: brown;
};

.float-me-left {
  width: 62%;
  float: left;
};

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: whit
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
};

#outputPlaces {
  display: flex;
  justify-content: space-around;
}; */
